.container-dialog{
    height: 480px;
    width: 500px;
    color: blueviolet;
    
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 28px;
}

.line-top{
    height: 1px;
    width: 90%;
    background-color: blueviolet;
}
.container-header{
    background: linear-gradient(to left, #004aad,#876ce6, #cb6ce6);
    padding-left: 40px;
    width: 100%;
}
.organizacao-form{
    
    background-color: rgba(255, 0, 0, 0);
    width: 80%;
    
}

form{
    display: flex;
    flex-direction: column;
}
.input-dialog{
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgb(223, 223, 223);
    padding-left: 20px;
    background-color: rgb(246, 251, 255);
    color: black;
}


span{
    color: black;
    font-weight: 600;
    margin-top: 30px;
}
.img-select button{
    background-color: red;
}

.file-upload{
    display: flex;
    flex-direction: column;
    
}
.custom-file-button{
    width: 210px;
    height: 40px;
    background-color: #cb6ce6;
    border: 1px solid #cb6ce6;
    border-radius: 4px;
}

h4{
    color: #cb6ce6;
    margin-top: 20px;
}

.end-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.btn-salvar{
    margin-top: 10px;
    width: 130px;
    height: 40px;
    background-color: #4719eb;
    border: 1px solid transparent;
    border-radius: 4px;
}