


<router-outlet />

<div class="background-container">
  <div class="container">
    <div class="nav">
      




      <h1><i class="fas fa-heart"></i> Nossa história <i class="fas fa-heart"></i></h1>
      
      <div class="line"></div>
    </div>
    
    <div style="display: flex;">
      
      <div class="container-left">
        <audio id="myAudio" src="QUEM-DE-NÓS-DOIS-ANA-CAROLINA.mp3" controls>
        
        </audio>
        <div class="espaco-imagem">
          <img src="/foto2.jpg" alt="" class="imagem-home">
          <p style="margin-right: 30px; font-size:15px">Por: Nego </p>
        </div>
        
      </div>
      <div class="container-right">
        
        <app-timeline></app-timeline>
        
      </div>
    </div>
    </div>
      
  </div>
  
